body{
	font-size: 17px;
	
}
#descricao{
    max-width: 200px; overflow: hidden; text-overflow: ellipsis;
}

.logo{
	width: 130px;
	margin-top:-3px;
	margin-left: 100px;
}
.avatar{
    width: 250px;
    border-radius: 22px;

}
.logo:hover{
	opacity: 0.9;
}

textarea {
  resize:none;
}


li > a{
    color:black;
    padding:10px;
}

li > a:hover{
    text-decoration : none;

	
}



.navbar-nav{
	margin-right: 100px;
	
}

.dropdown {
	margin-top: 7px;
}

#projetos{
	width: 200px;
}

/* sidebar */

#sidebar{
    background-color: #f6f6f7;
    color: rgb(138, 134, 134);
    height: 1000px;
    
}

#sidebar ul{
    margin-left: -50px;
}
#sidebar a{
    color: black;
    background-color: transparent;
}

#sidebar li a:hover{
    background-color: #3f9ebd;
    color: white;
   
}





