<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <link rel="stylesheet" type="text/css" href="{% static '/app/style/usuarioLogadoStylecss.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/style/style.css'%}">
    <title>Fórum - NotTrello</title>
</head>

<body>
    <!-- navbar -->
    {% include "app/navbar.html" %}
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <br>
            <h1>Fórum</h1>
            <p>Aqui você encontra as dúvidas de toda comunidade sobre qualquer assunto.</p>
            <p>Compartilhe seu conhecimento!</p>
            
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModalPergunta">Adicionar pergunta</a>
            <br>
            <br>

            {% for pergunta in perguntas %}


            <div class="list-group">
                
                <a href="/forum/pergunta/{{pergunta.id}}" class="list-group-item list-group-item-action flex-column align-items-start active ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{pergunta.titulo}}</h5>
                        <small>{{pergunta.data_criacao}}</small>
                    </div>
                    <p class="mb-1">{{pergunta.detalhesPergunta}}</p>

                    <small><img class="avatar" src="/media/{{pergunta.usuario.avatar}}" style="width:30px;">  {{pergunta.usuario}}</small>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="col-md-2">

        </div>


    </div>

    


    {% include "app/modalPergunta.html" %}
    {% include "app/modalProjeto.html" %}
    {% include "app/modalTarefa.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>