<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <link rel="stylesheet" type="text/css" href="{% static '/app/style/usuarioLogadoStylecss.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/style/style.css'%}">
    <title>!Trello - Seus projetos</title>
</head>

<body style="background-color:whitesmoke">
<div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background: #17baef;">
        <h1 class="logo float-left">

            <img src="{% static '/app/imgs/logo1.jpg'%}" class="logo">

        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <strong>
                    <a class="nav-item nav-link active" href="/usuario/logout">Sair</a>
                </strong>

            </div>
        </div>
    </nav>


</div>

<!-- content -->
<div class="container-fluid text-left">
    <div class="row content" style="margin:30px;  background-color:white; padding:20px; border-radius:22px;">
        <div class="col-sm-3" style="margin-left:40px">
            <ul class="sidebar navbar-nav">
                    <li>
                        <center>
                        {% if usuario.avatar %}
                            <img class="avatar" src="/media/{{usuario.avatar}}">
                            {% else %}
                                <img class="avatar" src="{% static '/app/imgs/padrao.jpg'%}">
                        {% endif %}
                        </center>
                    </li>

                <li>
                    <h4>{{usuario.nomeCompleto}}</h4>
                    <h6>{{usuario.nomeUsuario}}</h6>
                    <h6><a href="/usuario/perfil/{{usuario.id}}">Editar Perfil</a></h6>
                </li>
            </ul>

        </div>

        <div class="col-sm-8 text-left">
            <div id="app">
                <section id="tabs">
                        <div class="container">
                            
                            <div class="row">
                                <div class="col-md-12 ">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Visão Geral</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Projetos</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            {% include "app/overview.html" %} 
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            {% include "app/projetos.html" %}
                                        </div>
                                        
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </section>

            </div>
        </div>
    </div>
</div>

<!--Modals-->
{% include "app/modalProjeto.html" %}

<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static '/app/scripts/main.js' %}"></script>
<script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

            // $('#myModal').on('show.bs.modal', function (event) {
            //     var button = $(event.relatedTarget) //Button that triggered the modal
            //     var recipientNome = button.data('nome') //Extract info from data-* attributes
            //     var recipientDescricao = button.data('descricao') //Extract info from data-* attributes
            //     var recipientDtVencimento = button.data('vencimento') //Extract info from data-* attributes

            //     //If necessary, you could initiate an AJAX request here(and then do the updating in a callback).
            //     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            //     var modal = $(this)
            //     modal.find('.modal-title').text('Editar ' + recipientNome)
            //     modal.find('.modal-body input#id_nome').val(recipientNome)
            //     modal.find('.modal-body input#id_data_vencimento').val(recipientDtVencimento)
            //     modal.find('.modal-body textarea').val(recipientDescricao)
            // })




</script>
</body>

</html>